@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --lightred: #FBD1DA;
    --tomato: #BF0E1E;
    --lightgreen: #BDEAD7;
    --lightblue: #A4DCFF;
    --darkgreen: #002A29;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Instrument Sans", serif;
    color: var(--darkgreen);
}

[data-context="focus"] {
    --bg-image: url(assets/img/bg-foco.png);
    --bg-color: var(--lightred);
}

[data-context="short"] {
    --bg-image: url(assets/img/bg-short.png);
    --bg-color: var(--lightgreen);
}

[data-context="long"] {
    --bg-image: url(assets/img/bg-long.png);
    --bg-color: var(--lightblue);
}

body {
    overflow-x: hidden;
    height: calc(100vh - 50px);
    width: 100vw;
    background-color:var(--bg-color);
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

button {
    cursor: pointer;
    border: none;
}

input {
    border: none;
}

.header-container {
    width: 1200px;
    margin: auto;
}

.logo {
    margin: 50px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: "Birthstone Bounce", serif;
    color: var(--tomato);
    font-size: 42px;
    font-weight: 500;

    img {
        height: 50px;
    }
}

main {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.info-container {
    width: 35%;
}

.main-text {
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 30px;

    strong {
        font-weight: 600;
    }
}

.learn-more {
    font-size: 25px;
    color: var(--tomato);
    text-decoration: none;

}

.clock-container {
    margin-top: 40px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.context-list {
    display: flex;
    justify-content: space-between;
}

.btn-context {
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 10px;
    transition: 0.2s;
}

.btn-context:hover {
    box-shadow: var(--shadow);
}

.context-item .active {
    box-shadow: var(--shadow);
}

#clock {
    font-size: 120px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}

.clock-buttons-container {
    display: flex;
    justify-content: space-between;
}

.urgent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);

    .urgent-container__text {
        font-size: 12px;
        font-weight: 800;
        cursor: pointer;
    }

    .toggle {
        display: inline-block;
        height: 1rem;
        position: relative;
        width: 2rem;
    }

    .toggle input {
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .toggle input::before {
        background-color: var(--darkgreen);
        border-radius: 1rem;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: background-color 0.25s ease-in-out;
        width: 100%;
    }

    .toggle input:checked::before {
        background-color: var(--tomato);
    }

    .toggle input::after {
        background-color: #ffffff;
        border-radius: 50%;
        content: '';
        height: 0.8rem;
        left: 0.1rem;
        position: absolute;
        top: 0.1rem;
        transition: transform 0.25s ease-in-out;
        width: 0.8rem;
    }

    .toggle input:checked::after {
        transform: translateX(1rem);
    }
}

.start-pause-btn {
    background-color: var(--tomato);
    border-radius: 5px;
    width: 96px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    transition: 0.3s;
}

.start-pause-btn:hover {
    background-color: red;
}

.clock-settings-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    font-size: 12px;
    font-weight: 800;
    background-color: transparent;

    img {
        height: 30px;
    }
}

.tasks-container-flex {
    width: 55%;
}

.tasks-container {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.tasks-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.add-task-container {
    background-color: var(--darkgreen);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .add-task-text {
        color: white;
    }
}

.add-task__input-btn-flex {
    display: flex;
    gap: 15px;

    input {
        border-radius: 5px;
        padding: 15px;
        width: 70%;
    }

    .task__add-task-btn {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        gap: 20px;
        padding: 10px 30px;
        border-radius: 5px;
        background-color: var(--lightgreen);
    }
}

.task {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;

    button {
        background-color: var(--lightred);
    }

    .task__description {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 15px;
        background-color: var(--lightred);
        box-shadow: var(--shadow);
        border-radius: 5px;
        width: 60%;

        .task__description-icon {
            box-shadow: none;
            padding: 10px;
        }
    }
}

.task-icon {
    padding: 10px;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.completed-tasks-container {
    margin-top: 20px;
    background-color: var(--lightgreen);
    border-radius: 10px;
    padding: 15px;
}

.completed-tasks__head {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 15px;

    .completed-tasks__head__btn {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        background-color: transparent;

        img {
            height: 20px;
        }
    }
}

.completed-tasks__task {
    display: flex;
    gap: 15px;
}

.completed-tasks__task__recover {
    background-color: var(--darkgreen);
}

.completed-tasks__description {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0 15px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    width: 100%;

    img {
        height: 30px;
    }
}

.completed-tasks__task__delete-icon {
    background-color: transparent;
}

/* 

Não esquecer de

- dar para os quadradinhos de cada task uma classe só pra por tamanho e sombra
- repensar a classe dos tasks completed

-todos os hover

- fazer aquele jeito de quando poe o mouse em cima ele explica o que o botao faz

*/