.tasks-container-flex {
    width: 55%;
}

.tasks-container {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.tasks-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.add-task-container {
    background-color: var(--darkgreen);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .add-task-text {
        color: white;
    }
}

.add-task__input-btn-flex {
    display: flex;
    gap: 15px;

    input {
        border-radius: 5px;
        padding: 15px;
        width: 70%;
    }

    .task__add-task-btn {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        gap: 20px;
        padding: 10px 30px;
        border-radius: 5px;
        background-color: var(--lightgreen);
        transition: 0.3s;
    }

    .task__add-task-btn:hover {
        background-color: var(--lightgreen-hover);
    }

    .task__add-task-btn-mobile {
        display: none;
    }
}

.task {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;

    button {
        background-color: var(--lightred);
    }

    .task__description-flex {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .task__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 0 15px;
        background-color: var(--lightred);
        box-shadow: var(--shadow);
        border-radius: 5px;
        width: 60%;

        .task__description-icon {
            box-shadow: none;
            height: 50px;
            width: 53px;
            background-color: transparent;
        }
    }
}

.tasks-list>.active .task-icon,
.tasks-list>.active .task__description {
    background-color: var(--tomato);
}

.task__menu {
    display: flex;
    gap: 10px;
}

.task-icon {
    height: 50px;
    width: 53px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    transition: 0.3s;
}

.task>.task-icon:not(.task__ready-icon):hover {
    background-color: var(--tomato);
}

.task__active-icon {
    background: url(../img/icons/clock-red-icon.svg) center no-repeat;
    background-color: var(--lightred);
}

.active .task__active-icon {
    background: url(../img/icons/clock-lightred-icon.svg) center no-repeat;
}

.task__active-icon:hover {
    background-image: url(../img/icons/clock-lightred-icon.svg);
}

.task__description-icon {
    background: url(../img/icons/drag-red-icon.svg) center no-repeat;
}

.active .task__description-icon {
    background: url(../img/icons/drag-lightred-icon.svg) center no-repeat;
}

.active .task__description-text {
    color: white;
}

.input-edit {
    background-color: transparent;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    padding: 5px;
}

.task__menu-icon {
    display: none;
}

.task__menu-icon__option {
    color: var(--tomato);
}

.tasks-list>.active .task__menu-icon__option {
    color: var(--lightred); 
}

.tasks-list>.active .task__menu-icon {
    background-color: transparent;
}

.active .task__edit-icon:hover,
.task__edit-icon {
    background: url(../img/icons/edit-red-icon.svg) center no-repeat;
    background-color: var(--lightred);
}

.active .task__edit-icon {
    background: url(../img/icons/edit-lightred-icon.svg) center no-repeat;
}

.task__edit-icon:hover {
    background: url(../img/icons/edit-lightred-icon.svg) center no-repeat;
}

.active .task__delete-icon:hover,
.task__delete-icon {
    background: url(../img/icons/trash-red-icon.svg) center no-repeat;
    background-color: var(--lightred);
}

.active .task__delete-icon {
    background: url(../img/icons/trash-lightred-icon.svg) center no-repeat;
}

.task__delete-icon:hover {
    background: url(../img/icons/trash-lightred-icon.svg) center no-repeat;
}

.task__ready-icon {
    background: url(../img/icons/ready-red-icon.svg) center no-repeat;
    background-color: var(--lightred);
}

.active .task__ready-icon {
    background: url(../img/icons/ready-lightred-icon.svg) center no-repeat;
}

.active .task__ready-icon:hover,
.task__ready-icon:hover {
    background: url(../img/icons/ready-lightred-icon.svg) center no-repeat;
    background-color: var(--darkgreen);
}

.completed-tasks-container {
    display: none;
    margin-top: 20px;
    background-color: var(--lightgreen);
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
}

.completed-tasks__head {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 15px;

    .completed-tasks__head__btn {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        background-color: transparent;

        img {
            height: 20px;
        }
    }
}

.completed-tasks__task {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.completed-tasks__task__recover {
    background: url(../img/icons/recover-white-icon.svg) center no-repeat;
    background-color: var(--darkgreen);
    width: 68px;
}

.completed-tasks__task__recover:hover {
    background-color: var(--darkgreen-hover);
}

.completed-tasks__description {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0 15px;
    box-shadow: var(--shadow);
    border-radius: 5px;
    width: 100%;

    img {
        height: 30px;
    }
}

.completed-tasks__task__delete-icon {
    background: url(../img/icons/trash-green-icon.svg) center no-repeat;
    background-color: transparent;
    width: 68px;
}

.completed-tasks__task__delete-icon:hover {
    background-color: var(--lightgreen-hover);
}




@media (max-width: 768px) {

    .tasks-container {
        background-color: transparent;
        padding: 0;
        box-shadow: none;
    }
 
    .tasks-container-flex {
        margin-top: 30px;
        width: 100%;

        input {
            font-size: 11px;
            padding: 10px;
        }
        
        .task__add-task-btn {
            padding: 15px;
            p {
                display: none;
            }
        }
    }
    
    .task__menu-icon {
        display: block;
    }

    .task__menu {
        display: none;
    }

    /* //! aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  */
    .task {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    
        button {
            background-color: var(--lightred);
        }
    
        .task__description {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 0 15px;
            background-color: var(--lightred);
            box-shadow: var(--shadow);
            border-radius: 5px;
            width: 100%;
    
            .task__description-icon {
                box-shadow: none;
                height: 50px;
                width: 53px;
                background-color: transparent;
            }
        }
    }
}


@media (max-width: 575px) { 



}
